* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Fraunces", serif;
  background-color: pink;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

section {
  width: 380px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
}
section .image {
  background: url(../images/image-product-mobile.jpg) no-repeat;
  background-position: cover;
  height: 300px;
  width: 380px;
}
section .box-desktop {
  display: none;
}
section .desktop-img {
  display: none;
}
section .card .text {
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 3px;
  color: gray;
  margin: 15px;
  font-weight: 100;
}
section .card .main-text {
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 15px;
}
section .card .describe {
  font-size: 15px;
  color: gray;
  margin: 15px;
  line-height: 28px;
}
section .card .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 15px;
}
section .card .prices .price {
  margin-right: 20px;
  font-size: 30px;
  color: rgb(15, 97, 40);
}
section .card .prices .old-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  text-decoration: line-through;
}
section .card .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .card .button .buy {
  padding: 20px;
  height: 60px;
  width: 200px;
  background-color: rgb(15, 97, 40);
  color: white;
  font-weight: 600;
  border-color: transparent;
}

@media screen and (min-width: 600px) {
  main .product {
    width: 1000px;
    margin: 0 auto;
  }
  main .desktop-img {
    display: initial;
    width: 500px;
    height: 700px;
  }
  main .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  main .card {
    display: none;
  }
  main .box-desktop {
    display: initial;
    width: 400px;
    height: 500px;
  }
  main .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20px;
  }
}/*# sourceMappingURL=style.css.map */