* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 14px;
	font-family: 'Fraunces', serif;
	background-color: pink;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	// dlaczego sie nie centruje w pionie
}

section {
	width: 380px;
	height: 700px;
	background-color: white;
	border-radius: 10px;

	.image {
		background: url(../images/image-product-mobile.jpg) no-repeat;
		background-position: cover;
		height: 300px;
		width: 380px;
		
	}
.desktop-img {
			display:none;
		}


	.card {
		.text {
			text-transform: uppercase;
			font-family: sans-serif;
			letter-spacing: 3px;
			color: gray;
			margin: 15px;
			font-weight: 100;
		}
		.main-text {
			font-size: 35px;
			display: flex;
			justify-content: flex-start;
			margin: 15px;
		}
		.describe {
			font-size: 15px;
			color: gray;
			margin: 15px;
			line-height: 28px;
		}
		.prices {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			margin: 15px;

			.price {
				margin-right: 20px;
				font-size: 30px;
				color: rgb(15, 97, 40);
			}
			.old-price {
				display: flex;
				justify-content: center;
				align-items: center;
				color: gray;
				text-decoration: line-through;
			}
		}
		.button {
			display: flex;
			justify-content: center;
			align-items: center;

			.buy {
				padding: 20px;
				height: 60px;
				width: 200px;
				background-color: rgb(15, 97, 40);
				color: white;
				font-weight: 600;
				border-color: transparent;
			}
		}
	}
}
@media screen and (min-width: 600px) {
	main {
		.product {
			width: 1000px;
		
			margin: 0 auto;
			
	}
	.desktop-img 
	{
		display: initial;
		width: 500px;
		height: 700px; 
}
.button {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.box-desktop {
display: flex;
justify-content: flex-end;
}
}
}